@model HTTP5112_Cumulative.Models.Teacher
@{
    ViewBag.Title = "Update";
}

<h2>Update Teacher</h2>

<div id="show-container">
    <nav>
        <a class="nav-link" href="/Teacher/show/@Model.TeacherId">Back</a>
    </nav>

    <form action="/Teacher/Update/@Model.TeacherId" method="post">
        <div>
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />
        </div>
        <div>
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />
        </div>
        <div>
            <label for="TeacherSalary">Salary:</label>
            <input type="text" id="TeacherSalary" name="TeacherSalary" value="@Model.TeacherSalary" />

        </div>
        <div>
            <input type="submit" value="Update" />
        </div>
    </form>
</div>
